# DOMAIN: CADDY
CADDY_DOMAIN=""

# DOMAIN: DATABASE (MongoDB)
DATABASE_HOST=""
DATABASE_PORT=""
MONGO_INITDB_ROOT_USERNAME=""
MONGO_INITDB_ROOT_PASSWORD=""
DATABASE_NAME=""
DATABASE_MAX_CONNECTIONS=""
DATABASE_MIN_POOL_SIZE=""
DATABASE_AUTH=""
DATABASE_REPLICA_SET=""
DATABASE_URL=""

# DOMAIN: REDIS
REDIS_HOST=""
REDIS_PORT=""
REDIS_PASSWORD=""
REDIS_DATABASE=""

# DOMAIN: SERVER
SERVER_HOST=""
SERVER_PORT=""
SERVER_SECRET_SYMMETRIC_KEY=""
SERVER_TOKEN_EXPIRY_HOURS=""

# DOMAIN: S3 / STORAGE
S3_REGION=""
S3_ENDPOINT=""
S3_ACCESS_KEY_ID=""
S3_SECRET_ACCESS_KEY=""
S3_IMAGE_BUCKET=""

# DOMAIN: ADMIN DOCS USERS
ADMIN_DOCS_USERNAME=""
ADMIN_DOCS_PASSWORD=""
ADMIN_DOCS_USERNAME_2=""
ADMIN_DOCS_PASSWORD_2=""

# DOMAIN: SYSTEM / LOGGING
LOG_ENV=""
LOAD_DOT_ENV=""
